.modal-backdrop {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
	.modal {
		background: #ffffff;
		border-radius: 10px;
		box-shadow: 2px 2px 20px 1px;
		overflow-x: auto;
		max-height: 90vh;
		display: flex;
		flex-direction: column;
		width: 100%;
		@media #{$sm} {
			width: var(--modal-width, "auto");
		}
		.modal-header,
		.modal-footer {
			padding: 1rem ;
			display: flex;
		}
		
		.modal-header {
			position: relative;
			border-bottom: 1px solid #eeeeee;
			color: #4aae9b;
			justify-content: space-between;
		}
		
		.modal-body {
			position: relative;
			padding: 20px 10px;
		}

		.modal-footer {
			border-top: 1px solid #eeeeee;
			flex-direction: column;
		}
	}
}

.modal-fade-enter,
.modal-fade-leave-to {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0s ease;
}