.date-data {
	span {
		color: white;
		display: block;
		font-weight: 700;
	}
}
.date-container {
    border-radius: 10px;
    padding: 1rem 0.5rem;
    width: 70px;
    &.active {
        background-color: white;
        span {
            color: black;
            font-weight: 700;
        }
    }
    span {
        color: white;
        display: block;
        font-size: 0.85rem;
		&:first-child {
			margin-bottom: 0.5rem;
			font-size: 0.75rem;
			font-weight: 700;
		}
    }
}